<% provide(:title, 'About Us') %>

<div class="row-fluid">
	<div class="span3">
		<%= image_tag("pics/kidwithrobot.jpg", :alt => "boy playing with robot", :class =>'rounded') %> 
	</div>
	
	<div class="span6">
		<h2>About Us</h2>
		<h4>About</h4>
		<span class="colortxt">We founded 2025 Labs to introduce more kids to Engineering and Computer Science.</span> Our mission is to give all kids, regardless of ethnicity, gender or socioeconomic background, the opportunity to become creators &#8212 not just consumers &#8212 of great technology.  
		</br>
		</br>
		<span class="colortxt"> Why Engineering and Computer Science?</span> According to the <a href="research.html">Wall Street Journal</a>, eight of the top 10 highest paying college degrees in 2013 are Engineering or Computer Science, making them great pathways for high-potential young people to secure their economic future as adults. We see Engineering and Computer Science as a Pathway to a Better Future. 
		</br>
		</br>
		<span class="colortxt">Why "all" kids?</span>  Most kids aren't exposed to engineering. Stereotypes of engineers don't include role models for girls and some minority groups. Moreover, young people from lower socioeconomic strata &#8212 of any gender or color &#8212 are significantly underrepresented in engineering. Sadly, these are the kids that need these opportunities most.  A key finding from a <a href="research.html">2011 Intel study</a> indicates that "(e)xposure to any content about engineering dramatically increases the number of teens, both male and female, who say they would consider a career in engineering."
		</br>
		</br>
		<span class="colortxt">Who can afford $1,000-a-week summer camps?</span> Like a lot of parents, we've looked around at the products on the market to get help us get our kids engaged in engineering, to help give them skills to enable them to become part of the future technology workforce. If you don't have an engineering background, figuring out how to expose your child to engineering is a daunting task. Some families can afford $1,000-a-week summer camps &#8212 most can't.
		</br>
		</br>
	We don't expect every kid to become an engineer, but we tend to think the odds are against kids making that choice if they've never had the opportunity to practice engineering. Our goal is show kids that engineering is fun, and we want them to think of themselves as kids who "like engineering". 
		</br>
		</br>
		<h4>Us</h4>
		<h5 span class="names"><a href="http://www.linkedin.com/in/melissaliu" target="_blank">Melissa Liu</a> - Founder and CEO</span></h5>
  		Melissa has an Engineering degree and an MBA. She has been a long-time management consultant and small business owner, and previously spent a decade in engineering functions in the Software industry. Melissa learned to program in high school -- and helped pay for college with software internships -- before starting her engineering career. Melissa  grew up in a disadvantaged environment, raised by a single mother who, after a divorce, struggled to find a career path that would provide for her family. Melissa spent a good portion of her upbringing below the federal poverty level. Melissa was able to attend college through the help of scholarships, grants, and work, and without that opportunity, would not have been able to improve her own circumstances. Having achieved her own success and financial stability after an upbringing in poverty, she would now like to turn around and help others like her achieve the same.</p>

		<h5 span class="names"><a href="http://www.linkedin.com/pub/ellen-hardy/23/45/758" target="_blank">Ellen Hardy</a> - Founder and SVP Product Development</span></h5>
  		A consultant and attorney who has worked in educational publishing for over 16 years, Ellen has experienced first hand the huge transition from print to digital happening in the education market as it moves towards providing digital solutions for cost-effective individualized learning. She brings with her tremendous experience and exposure to the K-12 educational marketplace, and the challenges and opportunities there.

<h5 span class="names"><a href="http://www.linkedin.com/pub/andree-douglas/2/210/941" target="_blank">Andree Douglas</a> - Director Web Production</span></h5>
		After college, Andree taught herself to program with assistance from co-workers and then later with classes.  Thus began her career as a web developer, which then moved into web project management eventually ending up managing the web department at a software company.  Throughout her career she has put into practice the latest web design and development trends, SEO techniques and web analytics.
	</div> <!--span6-->	

	<div class="span3">
		<div class="row-fluid">
			<br><br>
			<%= link_to image_tag("facts/stat50percent.png", :alt => "building future engineers", :class =>'rounded'),   research_path %>
			50% of the 20 woman CEOs in Fortune 500 companies have STEM degrees
			<hr>
         </div> <!--row-->

		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
		
		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>				
		</div> <!--row-->
		
     </div>	<!--row span3-->
</div><!--row-fluid-->
