<% provide(:title, '2025 Labs Blog: Insights and Commentary on Engineering in the News') %>
<% provide(:description, '2025 Labs creates engineering article blogs about interesting engineering trends in the news focused on kids.') %>

<div class="row-fluid">
	<div class="span3">
		<%= image_tag("pics/girlswithsnapcircuits.jpg", :alt => "girls playing with snap circuits", :class =>'rounded') %> 
	</div>
	
	<div class="span6">
		<h2>Blog</h2>
		<h4 class="blogtxt">State of the Nation: GoldieBlox, PISA, Competitiveness, and Diversity</h4>
		&#8212 December 4, 2013
		<br><br>
		The PISA test is a test administered to 15-year-olds around the world each year, covering reading, math, and science. The results allow comparison of the academic level of 15-year-olds from different countries. US students continue to measure at mediocre levels in all three subjects, while other countries are improving their performance. According to the Organization for Economic Cooperation and Development (OECD), Shanghai leads the world, with knowledge and expertise equivalent to an additional year in school as compared to “average” countries. The top scores in math, in order, were: Shanghai, Singapore, Hong Kong, Taiwan, South Korea, and Macau. 
<br><br>
		Interestingly, China as a whole has no measurement; if measured, rural scores may have been quite different. It makes me wonder how well specific cities around Silicon Valley would score. For example, let’s compare Shanghai to Cupertino, CA (a top-rated school district), or Macau to Saratoga, CA (a very wealthy town), and see what the results are. Or, let’s compare all of the US with all of China, including rural areas of both, and see how they stack up. Otherwise, the comparisons are not nearly as valid. Having said that, we should aspire to lead the world as a <i>whole nation</i>, and we need to do a much better job bringing high quality education to every American student, regardless of zip code and financial status. We cannot expect to continue to lead the world in other ways if we cannot figure out how to give all kids a quality education. But let’s be cognizant of when we are making apples to oranges comparisons...
<br><br>
While I’m offering commentary about test score differences, let’s talk about cultural differences. Often in the US, we tend to think of people as - and often people think of themselves as - “good at math” or “bad at math”, rather than simply thinking of math as a critical skill that takes hard work to develop fully. So, if someone is identified as “good at math”, they may be offered that positive feedback, and encouraged to do more things that require math; otherwise, they likely will not be. This perspective assumes “good-at-math-ness” is a genetic, immutable trait. Asian cultures do not necessarily share this perspective. Chinese and South Korean families in particular may be less likely to embrace this idea. If you are math-challenged, that means that you have to work harder – you do not get lowered expectations just because math is harder for you than it is for some of your classmates. If a culture, or a school, or a family, is quite accepting of “not-good-at-math-ness”, then the expectations of a child that fits that profile will be lowered – and the child will likely not have any higher expectations of herself.
<br><br>
		On the Goldie Blox front – the riff on Beastie Boys “Girls” went viral, and was really a pretty good ad. Unfortunately the company did not have permission to use the song, and the ad has now been pulled. Sad, really. But, in the brief time it was available, it did generate a lot of discussion about social expectations for girls. It is true that there are many toys that encourage girls’ desires for passive prettiness, and very few aimed to encourage them to use their brains to build things. 
	<br><br>	
		Will the emergence of GoldieBlox and toys like Roominate (build-and-wire-your-own-doll-house) truly “disrupt the pink aisle”? It’s hard to say. The bigger impact would probably be from parents, teachers, and other adults in girls’ lives encouraging girls to achieve academically, to spend more energy recognizing what girls <i>achieve</i>, and less energy on feedback regarding how they <i>look</i>.
<br><br>
		Right now women are 18% of Engineering undergraduate students, while around 8.5% of Engineering undergraduate students are Hispanic or Latino, and around 4% are African-American or black. The profile of an Engineer as a Caucasian or Asian male, possibly “nerdy”, is still the predominant stereotype. Clearly we have far to go to achieve Diversity in Engineering. Let’s hope that more companies like GoldieBlox emerge, and that products and societal changes result in more diverse Engineering demographics 15 years from now.
	<br><br>
		Melissa Liu
		<br>
		2025 Labs CEO (and female Engineering degree-holder)
		
	</div> <!--span6-->	

	<div class="span3">
		<div class="row-fluid">
			<br><br>
			<%= link_to image_tag("facts/stat50percent.png", :alt => "50% of the 20 woman CEOs in Fortune 500 companies have STEM degrees", :class =>'rounded'),   research_path %>
			50% of the 20 woman CEOs in Fortune 500 companies have STEM degrees
			<hr>
         </div> <!--row-->

		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
		
		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>				
		</div> <!--row-->
		
     </div>	<!--row span3-->
</div><!--row-fluid-->
