<% provide(:title, '2025 Labs Blog: Insights and Commentary on Engineering in the News') %>
<% provide(:description, '2025 Labs creates engineering article blogs about interesting engineering trends in the news focused on kids.') %>

<div class="row-fluid">
	<div class="span3">
		<%= image_tag("pics/girlswithsnapcircuits.jpg", :alt => "girls playing with snap circuits", :class =>'rounded') %> 
		
		<br><br><br>

	</div>
	
	<div class="span6">
				<h2>Blog</h2>

				<h4 class="blogtxt">OMG – So Much Going On!</h4>
				&#8212 September, 2015
				<br><br>
			
Well, it’s been quite a year. We made Top 25 nationally in a women’s startup competition earlier in the year, which among other things, helped us begin to spread the word about what we are doing. <br><br>

Since then we have been invited into a startup incubator, <a href="http://gsvlabs.com/innovation-labs/edtech/" target="_blank">GSV Labs</a>, which is the largest Educational Technology (EdTech) startup incubator in the nation. Presence at GSV Labs has given us great opportunities to talk to a variety of people who care about STEM education, including folks from the US Department of Education and other EdTech startups. <br><br>

 Right now we are focused on readying ourselves for initial availability of a few different offerings, including subscription access to in-depth content, activities, a new Engineering in the News type of magazine for kids, and much more. We have been updating our kids’ website at <a href="http://www.2025kids.com" target="_blank">2025kids.com</a>, and working like mad on all of those things. <br><br>

We were accepted as exhibitors for a very important event – the Society of Women Engineers annual “Invent It Build It” event that is a day of fun engineering for middle school and high school girls. There are expected to be about 800-1000 girls, parents, and educators attending, all of whom – by definition – care about the presence of girls in Engineering. We will have lots of fun things to do there. If you know a middle school or high school girl who might be interested, be sure to sign up at the <a href="http://inventitbuildit.swe.org/" target="_blank">SWE page</a>  before space runs out! Hope to see you there! <br><br>

With much excitement for the coming months,<br>
Melissa and the entire 2025 Labs Team  
		
				<br><br>

				<h4 class="blogtxt">Women Startup Challenge Results</h4>
				&#8212 May/June, 2015
				<br><br>
			
 In our last update, we shared that 2025 Labs had been accepted into the Women Startup Challenge, a competition to encourage women entrepreneurs, supported by Craig Newmark (of craigslist fame) and WomenWhoTech.<br><br>

 The Challenge just ended. We exceeded our fundraising goal and finished in the Top 20. Thanks to all our supporters who helped with that! According to the rules published by the Challenge, they will look for the ten most promising companies among the Top 25, and those they deem most promising will be invited to pitch their business for a possible Grand Prize. We'll see  how it goes from here...<br><br>

 We’ve learned quite a bit from this effort and will summarize our learnings from this experience in another post very soon. Thanks again to everyone who has supported 2025 Labs in this venture through any means – whether actually participating in the fundraising or merely “spreading the word.” It all makes a difference and helps raise the visibility of what we’re doing!<br><br>

 With much gratitude,<br>
 Melissa Liu, Ellen Hardy, and the entire 2025 Labs Team
 
		
				<br><br>

				<h4 class="blogtxt">2025 Labs in the Women Startup Challenge</h4>
				&#8212 May 11, 2015
				<br><br>
				
				Exciting news! 2025 Labs was accepted to the  <a href="http://www.huffingtonpost.com/craig-newmark/taking-action-to-fund-wom_b_6986228.html" target="_blank">Women Startup Challenge</a>, a crowdfunding competition sponsored by Craig Newmark (of craigslist) and <a href="http://womenwhotech.com/challenge/" target="_blank">Women Who Tech</a>. On a lark, feeling a little crowdfunding-curious, we entered the competition.  The competition is very short and ends May 29th. We’d love your support! <br><br>
 
				We have been self-funded and hadn’t thought about looking for funding, but the Women Startup Challenge looked like a great opportunity to increase visibility for 2025 Labs: our mission, our vision, and what we have planned over the next year. <i>We aim to bring technology literacy to all kids and inspire a more diverse next generation of technology creators.</i><br><br>
 
				Oh, and we want to win! This is a competition, and the top 25 most promising companies in the Challenge get the opportunity to pitch their startup in person to a panel of investors and tech experts.<br><br>
 
				We set our fundraising goal for this challenge at $3000 to align with our first edition of our engineering magazine that will be distributed this fall.  Of course the ultimate goal of this challenge is to win the $50,000 grand prize, and other startup friendly services that will give us a lot of runway to bring our vision to fruition more quickly. We think we can win. To do so, we need your help. <br><br>
 
				If you would like to help us win this challege, please take 30 seconds to click the widget on the left or <a href="https://www.crowdrise.com/2025labs-womenstartup2015" target="_blank">Click Here</a> to find out about cool giveaways, and to donate to our efforts. <br><br>
				
				We want to get the word out about our mission and vision. Your support will help us accomplish this goal and make a huge impact in our chances to win the challenge. There are participation incentives, including a free copy of the first magazine and lots of swag, which are described on the page.<br><br>

				And, please help us spread the word by sharing with co-workers, family, and friends. You can point them to this page or directly to the Crowdrise fundraising page at <a href="https://www.crowdrise.com/2025labs-womenstartup2015" target="_blank">www.crowdrise.com/2025labs-womenstartup2015</a>. With your help we can spread the word about what we are doing, and maybe win a cool grand prize, too. If you don’t want to or can’t contribute, we’d love it if you’d help us spread the word about our 2025 Labs and our mission to bring technology literacy to all kids, and drive a more diverse next generation of engineers. After all, spreading the word is one of the most important drivers behind us entering this challenge!<br><br>
 
				Please email us at <a href="mailto:info@2025labs.com">info@2025labs.com</a> if you have any questions. <br><br>
 
				Thank you for your support,<br>
				Melissa Liu and Ellen Hardy, Founders, 2025 Labs
				
				<br><br>
				
				
				<h4 class="blogtxt">Effect of Stereotyping on Gender Diversity in Tech</h4>
				&#8212 February 12, 2015
				<br><br>
				
				University of Washington research published yesterday shows that inaccurate stereotypes are a key cause of gender disparity in both Engineering or Computer Science. 
				
				The study indicated that stereotypes depicting computer scientists and engineers as "geeky, brilliant and socially awkward males" contributes to lack of representation by women, and that, "broadening those stereotypes is key to attracting more girls to the two fields." You can  <a href="http://www.washington.edu/news/2015/02/11/how-to-interest-girls-in-computer-science-and-engineering-shift-the-stereotypes/" target="_blank">read their article here</a>.<br><br>
				 Coincidentally, late last year, CEO Melissa Liu wrote a LinkedIn piece about stereotypes and how they affect the expectations of adults of kids in their lives. Those expectations influence how adults in kids' lives encourage (or do not encourage) those kids towards engineering and programming activities. You can read that article <a href="https://www.linkedin.com/pulse/20141028212558-3330894-how-do-you-recognize-a-future-engineer" target="_blank">here</a>. <br><br>In a similar vein, there was a TEDx talk at the College of William and Mary last year where the speaker, Karen Catlin, talked about the fact that gender disparity in technology starts early in childhood. The example she gave was programming camps with 7-year-olds that were dominated by boys with very few girls. The point she made was that, at that age, it was the <i>parents</i> making the decisions as to what camps their kids would attend, and they were overwhelmingly sending their sons, and not their daughters, to computer camps. You can view that TEDx talk <a href="https://www.youtube.com/watch?v=8uiEHaDSfgI" target="_blank">here</a>.
				
				<br><br>
				
				<h4 class="blogtxt">Tech Diversity Data and Exciting 2025 Labs News!</h4>
				&#8212 September 15, 2014
				<br><br>
				
				Some well-known tech companies have recently released diversity statistics, with surprising results. In case you missed the news, companies like Google, LinkedIn, Twitter, and Facebook have disclosed the demographics of their companies, their technology workers, and their leadership, based on both gender and race/ethnic background.<br><br>

				I have an engineering degree. I know what engineering demographics look like. And yet, the data surprised me… Why? <br><br>
				
				I’ve been around enough to understand that engineering is likely to be highly male… But for the <i>entire company</i> to be around <b>70% male</b> (Twitter, Google, Facebook) is hard to fathom. It’s surprising that there are not more women in other roles, such as Marketing, Sales, or Business Development. I have met so many capable women in those functions – there shouldn’t be a shortage of them, as there is in Engineering.<br><br>
				
				I applaud these companies for releasing the data. It’s hard to solve a problem you haven’t measured. “If you don’t measure it, you can’t improve it” as the saying goes. Hopefully, publicizing this data will help the companies drive change in their organizations. I look forward to seeing improvements in these measures over time.<br><br>

				Speaking of doing something about diversity… Let’s talk about some 2025 Labs news!<br><br>
				
				We have begun building out the kid-companion site to to the 2025labs site (which is targeted at the adults in kids’ lives). Our kids' site is still very early in development, but check it out at <a href="http://www.kidstack.com" target="_blank"> kidstack.com</a>!<br><br>
				
				Kids enjoy watching videos, so we are building content around a Coursera-like model - with fun, intelligent, accessible 8-10 minute videos on various engineering topics, along with companion activities, projects, quizzes, and eventually companion kits to be added. The kits, to be developed later, will allow kids and parents to easily try out projects and have an immersive, tactical engineering experience at home without having to visit 10 different stores or web sites to find all of the right materials, as is often the case with projects described in various books and sites, and without complicated instructions that leave you feeling like you need a technology background yourself to be able to introduce engineering to your child. 
				
				<br><br>You can visit our work-in-process at <a href="http://www.kidstack.com" target="_blank"> kidstack.com</a>, or you can go right to our <a href="https://www.youtube.com/channel/UCi2YUj1nfC4fHuB5VdCN3Kw" target="_blank">Youtube channel</a>. We will be building out mobile applications as well, and we intend to do a Kickstarter campaign soon to fund some of the development build-out.<br><br>
				
				
				<h4 class="blogtxt">College Mentoring in the News</h4>
				&#8212 April 22, 2014
				<br><br>
				Hot off the (electronic news) press is an article about our recent kick-off of a pilot mentoring program between USCS School of Engineering alumni and MESA Engineering undergraduates. It's a great article, and you can find it <a href="http://news.ucsc.edu/2014/04/alumni-mentors.html" target="_blank"> here</a>.<br><br>
					
				Interestingly enough, this morning's NPR Morning Edition highlighted <a href="http://www.npr.org/2014/04/22/305814367/evidence-of-racial-gender-biases-found-in-faculty-mentoring" target="_blank">evidence of racial and gender bias in faculty mentoring</a>. In this study, researchers drafted an email communication requesting a meeting, purportedly from a student, and emailed the request to 6500+ college professors at the top 250 colleges in the US. They used the same verbiage in each request, varying only the names. The names were chosen to provide a subtle hint to faculty of the requestor's gender, race, or ethnicity, and included a variety of ethnic-sounding names, such as Hispanic, Chinese, Indian, and African-American. 
				<br><br>Among the findings of the research: <p>
				<li>College professors are less likely to respond to requests for guidance from requestors with woman- or minority-sounding names </li><p>
				<li>Of those women or minority names who did get a response, the responses were less likely to be positive (that is, an agreement to meet) as compared to requester names that sounded like 'white male' names</li><p>
				<li>The researchers were surprised to find a significant amount of bias against Asian- and Indian-sounding names. Those ethnic groups are not traditionally underrepresented. However, the study showed quite measurable bias against them</li><p>
				<li>The Humanities showed the smallest difference between 'white male' names compared to woman- or minority-sounding names.</li></p>
				<li>The sciences showed more bias as compared to the Humanities</li><p>
				<li>Business academic departments showed the greatest amount - a 25% gap in positive responses between 'white, male' sounding names as opposed to female- or minority-sounding names</li><p>
				
				<p>We aren't always surprised to hear about gaps between white and traditionally-underrepresented ethnic groups, but is the bias against Asian- and Indian-sounding names surprising? What do you think? Send us an <a href="mailto:info@2025labs.com?Subject=Opinion%20on%20April%20Blog" target="_top">email</a> and let us know.
				<br><br>
			
					
				<h4 class="blogtxt">Change and Resistance in Engineering Diversity </h4>
				&#8212 April 3, 2014
				<br><br>
				
				We’ve spent some time working to increase diversity in Engineering over the past half year. I funded a need-based Engineering scholarship for a promising student from an underrepresented demographic. I co-led the creation of a mentoring program between Engineering alumni and Engineering undergraduates in my alma mater’s Multicultural Engineering Program (MEP). (MEP is affiliated with MESA, which works to encourage educationally disadvantaged students to achieve in science, engineering, and math.) The demographics of MEP students in Engineering are different than in Engineering overall – it was great to see such a diverse, talented bunch of students in the room for our mentoring program kick-off! We worked with the Bay Area Affiliate of NCWIT (National Center for Women & IT) to promote their “Aspirations in IT” award for high school girls showing promise in computing. Twenty-five local high school girls were awarded for their achievements in computing. And, I judged scholarship and award applications for high school and college females interested in or majoring in Engineering. It was uplifting to see in the college scholarship applications how many amazing, high-potential women are pursuing Engineering these days! 

				<p><p>Research shows that diverse teams are more creative and more effective, and this has been recognized for years. I was poking through a <a href="https://www.nae.edu/Publications/Bridge/CompetitiveMaterialsandSolutions/DiversityinEngineering.aspx" target="_blank">1998 article</a> by a past president of the National Academy of Engineering (<a href="http://www.nae.edu/" target="_blank">NAE</a>), William Wulf. The NAE is one of the National Academies, like the National Academy of Sciences (NAS). The NAE’s mission is to “advance the well-being of the nation by promoting a vibrant engineering profession...”. Among the many wonderful quotes in this article was the following: <p><p>
				<i>"Every time we approach an engineering problem with a pale, male design team, we may not find the best solution. We may not understand the design options or know how to evaluate the constraints; we may not even understand the full dimension of the problem...I believe that the central problem of our declining enrollments, particularly among women and minorities, is our dull image, an incorrect image - an image that ignores the existential joys of engineering. At the same time, by failing to attract a diverse engineering work force, we diminish what engineering can contribute to society, and society pays an opportunity cost."</i><p><p>

				I love that expression, “the existential joys of engineering.” To conceive, and create, and look at what you’ve built – that is indeed a beautiful thing! We do need to share that idea of engineering with young people. <p><p>

				Diversity in Engineering is still very much a work in progress, but it’s always nice to hear about programs making a difference. A LinkedIn post the other day shared an <a href="http://qz.com/192071/how-one-college-went-from-10-female-computer-science-majors-to-40/" target="_blank">article</a> about Maria Klawe, president of Harvey Mudd College. Harvey Mudd has been receiving tons of positive press about the changes they made that have moved their Computer Science program from 10% female to 40% female. <p><p>

				Not everyone supports the idea of making changes to attract women, however. Among a sea of positive comments were also these: <i>“Pathetic...so much effort should not be needed just to motivate and inspire women”</i> and <i>“People who need to be…cajoled…don’t belong in technology and that university is a disgrace”</i>. I’m not sure why outreach to women would inspire such negativity. Warren Buffett seems to suggest that it’s fear of competition.<p><p>

				In a <a href="http://money.cnn.com/2013/05/02/leadership/warren-buffett-women.pr.fortune/" target="_blank">May 2013 article by Warren Buffett</a> (“Warren Buffett is bullish…on women"), he talks about how America has historically relied on only half of its potential talent pool, and that, “Resistance among the powerful is natural when change clashes with their self-interest… After all, who wants to double the number of competitors for top positions?” Maybe for some people, the idea of more competition is threatening. Otherwise, no one should be offended by the idea of making engineering and computer science more inclusive. If the people are capable of doing the work, why should gender, or any other physical characteristic, matter?<p><p>

				When I did my Engineering degree, I was one of only four women in the major. Many times, I looked around the room and realized that – again – I was the only female. There were only two people in the entire program that ever gave me any trouble for it, though. I was planning to major in Psychology, and I didn’t declare Engineering until the fall of my junior year. Then, I had classes with folks who had been building things forever. Maybe they always knew they would be engineers. That didn’t mean they did outstandingly well in the major. Just because you’ve been building things since you were five and always knew you loved it doesn’t mean you can hack the math, as it turns out. So, let’s stop assuming that folks have to always known that they want to be engineers, or computer scientists, and let’s just look for people with the capabilities – and encourage them.<p><p>
				
				<h4 class="blogtxt">State of Diversity in AP testing, Patents, and Startup Funding</h4>
				&#8212 January 14, 2014
				<br><br>
				Data regarding 2013 Advanced Placement (AP) tests were recently released and written up by <a href="http://blogs.edweek.org/edweek/curriculum/2014/01/girls_african_americans_and_hi.html?cmp=ENL-EU-NEWS2" target="blank">Education Week</a>.  This data gives us some insight into what is happening in high school with respect to how students are positioning themselves for college. The Advanced Placement tests, administered by <a href="http://research.collegeboard.org/programs/ap/data/participation/2013" target="blank">College Board</a>, allow high school students to get college credit for passing scores in the tested subjects.  The numbers for participation for the AP Computer Science test look quite similar to overall demographics for Engineering and Computer Science. Less than 20% of AP Computer Science test takers were female, a little more than 3% were African American, and around 8% were Hispanic/Latino. 
				<br><br> 
				Of note, there were <i>no female participants in three states, no African-American participants in 11 states, and no Hispanic test-takers in 8 states</i>. Disgraceful, really – certainly in need of improvement, especially since Computer Science is such a promising field these days.
				<br><br> 
				The numbers for Calculus look better. The Calculus AB test (first-year Calculus for high-school students) was comprised of 48% female and 52% male test takers. That’s pretty good! Female participation in the Calculus BC test (second-year Calculus for high-school students) was lower, but still better than Computer Science: 40% female / 60% male. Even the Physics AP test had higher participation for girls: 35% female; 65% male. Given that Calculus and Physics are key lead-in classes for Engineering, these participation rates for girls are really encouraging. However, we know from a <a href="http://www.girlscouts.org/research/pdf/generation_stem_full_report.pdf" target="blank">Girl Scouts study</a> that even girls that are interested in Engineering are also interested in many other things, and may not actually consider pursuing an Engineering path, despite interest and talent. So, if you know a girl who shows some interest or talent in math, computer science, or physics – please, encourage her! 
				<br><br> 
				As a leading indicator of the state of diversity in engineering, the AP data offers a mixed picture. To get a fuller picture, we wanted to look at some lagging metrics as well, so we also looked at patent participation and funding.
				<br><br> 
				According to a National Bureau of Economics Research (NBER) <a href="http://www.nber.org/papers/w17888" target="blank">article</a> (also cited by <a href="http://freakonomics.com/2012/03/07/why-arent-there-more-female-patent-holders/" target="blank">Freakonomics</a>, <a href="http://www.motherjones.com/blue-marble/2012/03/gender-and-patents-are-women-slackers" target="blank">Mother Jones</a>, and <a href="http://www.forbes.com/sites/meghancasserly/2012/03/26/good-news-on-the-women-in-tech-debate-patents-pending/" target="blank">Forbes</a>), 7.5% of patent holders are female, with men holding the remaining 92.5% of patents.  According to this study, only seven percent of the gap between male and female patent holders is accounted for by the fact that women are less likely to hold degrees in engineering or hard sciences.  However, the electrical and mechanical engineering fields specifically, according to the research, are the most patent-intensive fields, and increasing women’s participation in those fields may increase the fraction of women patent holders. In addition, this study indicated that women’s underrepresentation in design and development job functions specifically (versus other roles or careers one might end up in after an engineering degree) accounted for 40 percent of the difference in commercial patents, and that increasing the number of women in those job roles would make a difference. 
				<br><br> 
				Keep in mind that the NBER research focused on patent <i>holders</i> – the entire body of people who currently have a patent to their name (some of which may have been granted years ago) – and not the number of people who were <i>granted patents in a particular year</i>. In other words, any changes in the number of patents granted to particular demographics would take time to be reflected in the numbers of overall patent holders, much as a moving average lags trend data. To look at the trends in patents granted, we can turn to research by the <a href="http://nwbc.gov/news/more-women-obtaining-patents-trademarks-recent-years" target="blank">National Women’s Business Council</a>, which shows that women have doubled their share of patents granted in the last 22 years. Women accounted for 18% of the patents granted in 2010. In comparison, women were granted 14% of the patents granted in 2000, and only 9% of the patents granted in 1990. 
				<br><br> 
				Another way to look at the gains women are making in technology is to look at entrepreneurship and startup funding. According to data cited by a <a href="http://www.forbes.com/sites/meghancasserly/2012/03/26/good-news-on-the-women-in-tech-debate-patents-pending/" target="blank">Forbes article</a>, the number of women-owned companies with at least $10 million in revenues increased by 57% between 1992 and 2012. The number of women-owned $1 million revenue companies grew by 30% in the period. The full report for those numbers can be found <a href="http://www.womenable.com/userfiles/downloads/Growing_Under_the_Radar_Jan2013.pdf" target="blank">here</a>. From an equity funding perspective, only 20% of angel investors (early-stage private investors, often wealthy individuals) invested in women-led businesses in 2012.  That’s a small fraction – but it is up 40% from the prior year. The percentage of venture capital funding (later-stage pre-IPO startup funding) deals that went to women-led businesses was 13% in the first half of 2013. Again, that’s a very small number, but it is a 20% increase from 2012. So, the numbers are small now – but the trend is positive.
				<br><br> 
				Women are making gains in technology according to a number of data sources, from patents granted, to startup funding, to (non-Computer-Science) AP testing. But, as the data indicate, we have a long way to go. On a related note, <a href="http://www.discovere.org/our-programs/engineers-week" target="_blank">Engineers Week</a> is just around the corner: <b>February 16-22, 2014</b>, and within that is <a href="http://www.discovere.org/our-programs/girl-day" target="_blank">Girl Day</a>, Thursday, February 20th, a day set aside to introduce girls to engineering. 
				<br><br><i>Who are you going to introduce to engineering?</i>
				 
		<br><br>
			
				Melissa Liu
				<br>
				2025 Labs CEO (and female Engineering degree-holder)
		
		
		
		
		
		
		<br><br><br><br>
		<h4 class="blogtxt">State of the Nation: GoldieBlox, PISA, Competitiveness, and Diversity</h4>
		&#8212 December 4, 2013
		<br><br>
		The PISA test is a test administered to 15-year-olds around the world each year, covering reading, math, and science. The results allow comparison of the academic level of 15-year-olds from different countries. US students continue to measure at mediocre levels in all three subjects, while other countries are improving their performance. According to the Organization for Economic Cooperation and Development (OECD), Shanghai leads the world, with knowledge and expertise equivalent to an additional year in school as compared to “average” countries. The top scores in math, in order, were: Shanghai, Singapore, Hong Kong, Taiwan, South Korea, and Macau. 
<br><br>
		Interestingly, China as a whole has no measurement; if measured, rural scores may have been quite different. It makes me wonder how well specific cities around Silicon Valley would score. For example, let’s compare Shanghai to Cupertino, CA (a top-rated school district), or Macau to Saratoga, CA (a very wealthy town), and see what the results are. Or, let’s compare all of the US with all of China, including rural areas of both, and see how they stack up. Otherwise, the comparisons are not nearly as valid. Having said that, we should aspire to lead the world as a <i>whole nation</i>, and we need to do a much better job bringing high quality education to every American student, regardless of zip code and financial status. We cannot expect to continue to lead the world in other ways if we cannot figure out how to give all kids a quality education. But let’s be cognizant of when we are making apples to oranges comparisons...
<br><br>
While I’m offering commentary about test score differences, let’s talk about cultural differences. Often in the US, we tend to think of people as - and often people think of themselves as - “good at math” or “bad at math”, rather than simply thinking of math as a critical skill that takes hard work to develop fully. So, if someone is identified as “good at math”, they may be offered that positive feedback, and encouraged to do more things that require math; otherwise, they likely will not be. This perspective assumes “good-at-math-ness” is a genetic, immutable trait. Asian cultures do not necessarily share this perspective. Chinese and South Korean families in particular may be less likely to embrace this idea. If you are math-challenged, that means that you have to work harder – you do not get lowered expectations just because math is harder for you than it is for some of your classmates. If a culture, or a school, or a family, is quite accepting of “not-good-at-math-ness”, then the expectations of a child that fits that profile will be lowered – and the child will likely not have any higher expectations of herself.
<br><br>
		On the Goldie Blox front – the riff on Beastie Boys “Girls” went viral, and was really a pretty good ad. Unfortunately the company did not have permission to use the song, and the ad has now been pulled. Sad, really. But, in the brief time it was available, it did generate a lot of discussion about social expectations for girls. It is true that there are many toys that encourage girls’ desires for passive prettiness, and very few aimed to encourage them to use their brains to build things. 
	<br><br>	
		Will the emergence of GoldieBlox and toys like Roominate (build-and-wire-your-own-doll-house) truly “disrupt the pink aisle”? It’s hard to say. The bigger impact would probably be from parents, teachers, and other adults in girls’ lives encouraging girls to achieve academically, to spend more energy recognizing what girls <i>achieve</i>, and less energy on feedback regarding how they <i>look</i>.
<br><br>
		Right now women are 18% of Engineering undergraduate students, while around 8.5% of Engineering undergraduate students are Hispanic or Latino, and around 4% are African-American or black. The profile of an Engineer as a Caucasian or Asian male, possibly “nerdy”, is still the predominant stereotype. Clearly we have far to go to achieve Diversity in Engineering. Let’s hope that more companies like GoldieBlox emerge, and that products and societal changes result in more diverse Engineering demographics 15 years from now.
	<br><br>
		Melissa Liu
		<br>
		2025 Labs CEO (and female Engineering degree-holder)
		
	</div> <!--span6-->	

	<div class="span3">
		<div class="row-fluid">
			<br><br>
			<div class="facts"><a class="facts1" <%= link_to "50%",    research_path %></a></div>
			<br>
			50% of the 20 woman CEOs in Fortune 500 companies have STEM degrees.
			<hr>
         </div> <!--row-->

		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
		
		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>				
		</div> <!--row-->
		
     </div>	<!--row span3-->
</div><!--row-fluid-->
