<% provide(:title, '2025 Labs Blog: Insights and Commentary on Engineering in the News') %>
<% provide(:description, '2025 Labs creates engineering article blogs about interesting engineering trends in the news focused on kids.') %>

<div class="row-fluid">
	<div class="span3">
		<%= image_tag("pics/girlswithsnapcircuits.jpg", :alt => "girls playing with snap circuits", :class =>'rounded') %> 
	</div>
	
	<div class="span6">
				<h2>Blog</h2>
				<h4 class="blogtxt">State of Diversity in AP testing, Patents, and Startup Funding</h4>
				&#8212 January 14, 2014
				<br><br>
				Data regarding 2013 Advanced Placement (AP) tests were recently released and written up by <a href="http://blogs.edweek.org/edweek/curriculum/2014/01/girls_african_americans_and_hi.html?cmp=ENL-EU-NEWS2" target="blank">Education Week</a>.  This data gives us some insight into what is happening in high school with respect to how students are positioning themselves for college. The Advanced Placement tests, administered by <a href="http://research.collegeboard.org/programs/ap/data/participation/2013" target="blank">College Board</a>, allow high school students to get college credit for passing scores in the tested subjects.  The numbers for participation for the AP Computer Science test look quite similar to overall demographics for Engineering and Computer Science. Less than 20% of AP Computer Science test takers were female, a little more than 3% were African American, and around 8% were Hispanic/Latino. 
				<br><br> 
				Of note, there were <i>no female participants in three states, no African-American participants in 11 states, and no Hispanic test-takers in 8 states</i>. Disgraceful, really – certainly in need of improvement, especially since Computer Science is such a promising field these days.
				<br><br> 
				The numbers for Calculus look better. The Calculus AB test (first-year Calculus for high-school students) was comprised of 48% female and 52% male test takers. That’s pretty good! Female participation in the Calculus BC test (second-year Calculus for high-school students) was lower, but still better than Computer Science: 40% female / 60% male. Even the Physics AP test had higher participation for girls: 35% female; 65% male. Given that Calculus and Physics are key lead-in classes for Engineering, these participation rates for girls are really encouraging. However, we know from a <a href="http://www.girlscouts.org/research/pdf/generation_stem_full_report.pdf" target="blank">Girl Scouts study</a> that even girls that are interested in Engineering are also interested in many other things, and may not actually consider pursuing an Engineering path, despite interest and talent. So, if you know a girl who shows some interest or talent in math, computer science, or physics – please, encourage her! 
				<br><br> 
				As a leading indicator of the state of diversity in engineering, the AP data offers a mixed picture. To get a fuller picture, we wanted to look at some lagging metrics as well, so we also looked at patent participation and funding.
				<br><br> 
				According to a National Bureau of Economics Research (NBER) <a href="http://www.nber.org/papers/w17888" target="blank">article</a> (also cited by <a href="http://freakonomics.com/2012/03/07/why-arent-there-more-female-patent-holders/" target="blank">Freakonomics</a>, <a href="http://www.motherjones.com/blue-marble/2012/03/gender-and-patents-are-women-slackers" target="blank">Mother Jones</a>, and <a href="http://www.forbes.com/sites/meghancasserly/2012/03/26/good-news-on-the-women-in-tech-debate-patents-pending/" target="blank">Forbes</a>), 7.5% of patent holders are female, with men holding the remaining 92.5% of patents.  According to this study, only seven percent of the gap between male and female patent holders is accounted for by the fact that women are less likely to hold degrees in engineering or hard sciences.  However, the electrical and mechanical engineering fields specifically, according to the research, are the most patent-intensive fields, and increasing women’s participation in those fields may increase the fraction of women patent holders. In addition, this study indicated that women’s underrepresentation in design and development job functions specifically (versus other roles or careers one might end up in after an engineering degree) accounted for 40 percent of the difference in commercial patents, and that increasing the number of women in those job roles would make a difference. 
				<br><br> 
				Keep in mind that the NBER research focused on patent <i>holders</i> – the entire body of people who currently have a patent to their name (some of which may have been granted years ago) – and not the number of people who were <i>granted patents in a particular year</i>. In other words, any changes in the number of patents granted to particular demographics would take time to be reflected in the numbers of overall patent holders, much as a moving average lags trend data. To look at the trends in patents granted, we can turn to research by the <a href="http://nwbc.gov/news/more-women-obtaining-patents-trademarks-recent-years" target="blank">National Women’s Business Council</a>, which shows that women have doubled their share of patents granted in the last 22 years. Women accounted for 18% of the patents granted in 2010. In comparison, women were granted 14% of the patents granted in 2000, and only 9% of the patents granted in 1990. 
				<br><br> 
				Another way to look at the gains women are making in technology is to look at entrepreneurship and startup funding. According to data cited by a <a href="http://www.forbes.com/sites/meghancasserly/2012/03/26/good-news-on-the-women-in-tech-debate-patents-pending/" target="blank">Forbes article</a>, the number of women-owned companies with at least $10 million in revenues increased by 57% between 1992 and 2012. The number of women-owned $1 million revenue companies grew by 30% in the period. The full report for those numbers can be found <a href="http://www.womenable.com/userfiles/downloads/Growing_Under_the_Radar_Jan2013.pdf" target="blank">here</a>. From an equity funding perspective, only 20% of angel investors (early-stage private investors, often wealthy individuals) invested in women-led businesses in 2012.  That’s a small fraction – but it is up 40% from the prior year. The percentage of venture capital funding (later-stage pre-IPO startup funding) deals that went to women-led businesses was 13% in the first half of 2013. Again, that’s a very small number, but it is a 20% increase from 2012. So, the numbers are small now – but the trend is positive.
				<br><br> 
				Women are making gains in technology according to a number of data sources, from patents granted, to startup funding, to (non-Computer-Science) AP testing. But, as the data indicate, we have a long way to go. On a related note, <a href="http://www.discovere.org/our-programs/engineers-week" target="_blank">Engineers Week</a> is just around the corner: <b>February 16-22, 2014</b>, and within that is <a href="http://www.discovere.org/our-programs/girl-day" target="_blank">Girl Day</a>, Thursday, February 20th, a day set aside to introduce girls to engineering. 
				<br><br><i>Who are you going to introduce to engineering?</i>
				 
		<br><br>
			
				Melissa Liu
				<br>
				2025 Labs CEO (and female Engineering degree-holder)
		
		
		
		
		
		
		<br><br><br><br>
		<h4 class="blogtxt">State of the Nation: GoldieBlox, PISA, Competitiveness, and Diversity</h4>
		&#8212 December 4, 2013
		<br><br>
		The PISA test is a test administered to 15-year-olds around the world each year, covering reading, math, and science. The results allow comparison of the academic level of 15-year-olds from different countries. US students continue to measure at mediocre levels in all three subjects, while other countries are improving their performance. According to the Organization for Economic Cooperation and Development (OECD), Shanghai leads the world, with knowledge and expertise equivalent to an additional year in school as compared to “average” countries. The top scores in math, in order, were: Shanghai, Singapore, Hong Kong, Taiwan, South Korea, and Macau. 
<br><br>
		Interestingly, China as a whole has no measurement; if measured, rural scores may have been quite different. It makes me wonder how well specific cities around Silicon Valley would score. For example, let’s compare Shanghai to Cupertino, CA (a top-rated school district), or Macau to Saratoga, CA (a very wealthy town), and see what the results are. Or, let’s compare all of the US with all of China, including rural areas of both, and see how they stack up. Otherwise, the comparisons are not nearly as valid. Having said that, we should aspire to lead the world as a <i>whole nation</i>, and we need to do a much better job bringing high quality education to every American student, regardless of zip code and financial status. We cannot expect to continue to lead the world in other ways if we cannot figure out how to give all kids a quality education. But let’s be cognizant of when we are making apples to oranges comparisons...
<br><br>
While I’m offering commentary about test score differences, let’s talk about cultural differences. Often in the US, we tend to think of people as - and often people think of themselves as - “good at math” or “bad at math”, rather than simply thinking of math as a critical skill that takes hard work to develop fully. So, if someone is identified as “good at math”, they may be offered that positive feedback, and encouraged to do more things that require math; otherwise, they likely will not be. This perspective assumes “good-at-math-ness” is a genetic, immutable trait. Asian cultures do not necessarily share this perspective. Chinese and South Korean families in particular may be less likely to embrace this idea. If you are math-challenged, that means that you have to work harder – you do not get lowered expectations just because math is harder for you than it is for some of your classmates. If a culture, or a school, or a family, is quite accepting of “not-good-at-math-ness”, then the expectations of a child that fits that profile will be lowered – and the child will likely not have any higher expectations of herself.
<br><br>
		On the Goldie Blox front – the riff on Beastie Boys “Girls” went viral, and was really a pretty good ad. Unfortunately the company did not have permission to use the song, and the ad has now been pulled. Sad, really. But, in the brief time it was available, it did generate a lot of discussion about social expectations for girls. It is true that there are many toys that encourage girls’ desires for passive prettiness, and very few aimed to encourage them to use their brains to build things. 
	<br><br>	
		Will the emergence of GoldieBlox and toys like Roominate (build-and-wire-your-own-doll-house) truly “disrupt the pink aisle”? It’s hard to say. The bigger impact would probably be from parents, teachers, and other adults in girls’ lives encouraging girls to achieve academically, to spend more energy recognizing what girls <i>achieve</i>, and less energy on feedback regarding how they <i>look</i>.
<br><br>
		Right now women are 18% of Engineering undergraduate students, while around 8.5% of Engineering undergraduate students are Hispanic or Latino, and around 4% are African-American or black. The profile of an Engineer as a Caucasian or Asian male, possibly “nerdy”, is still the predominant stereotype. Clearly we have far to go to achieve Diversity in Engineering. Let’s hope that more companies like GoldieBlox emerge, and that products and societal changes result in more diverse Engineering demographics 15 years from now.
	<br><br>
		Melissa Liu
		<br>
		2025 Labs CEO (and female Engineering degree-holder)
		
	</div> <!--span6-->	

	<div class="span3">
		<div class="row-fluid">
			<br><br>
			<%= link_to image_tag("facts/stat50percent.png", :alt => "50% of the 20 woman CEOs in Fortune 500 companies have STEM degrees", :class =>'rounded'),   research_path %>
			50% of the 20 woman CEOs in Fortune 500 companies have STEM degrees
			<hr>
         </div> <!--row-->

		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->
		
		<div class="row-fluid" style="text-align:center">
			<%= render "layouts/skyscraperad" %>				
		</div> <!--row-->
		
     </div>	<!--row span3-->
</div><!--row-fluid-->
