<% provide(:title, 'Contact') %>

<div class="row-fluid">

	<div class="span4">
  		<a href="gettingstarted.html"><img class="rounded"src="/assets/pics/purpleboxtextbfegetstarted2.png" alt="building future engineers"></a>
	</div>	<!--span4-->

	<div class="span4">
		<h2>Contact</h2>
  		<p>We would love to hear from you! Please contact us at:</p>
		</br>
		<p><a href="mailto:info@2025labs.com" style="color:#0099CC">info@2025labs.com</a></p>
		<p>455 Los Gatos Blvd, Suite 104</p>
		<p>Los Gatos, CA 95032</p>
		<p>408 893 8992</p>
	</div> <!--span4-->

	<div class="span3">
		<br>
  		<a href="research.html"><img src="/assets/facts/ctq_cleanbr.png" alt="the number 8"></a>
		
		<hr>

		


			<div class="row-fluid">
				<div class="span12" style="text-align:center">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-2408047913757155";
					/* right_rectangle */
					google_ad_slot = "9108243823";
					google_ad_width = 300;
					google_ad_height = 250;
					//-->
					</script>
					<script type="text/javascript"
					src="//pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>	
				</div> <!--span12-->
			</div> <!--row-->
		
	</div> <!--span3-->	
</div> <!--row-->
