<% provide(:title, '2025 Labs Contact Us to Learn More About Introducing Kids to Engineering') %>

<div class="row-fluid">

	<div class="span4">
  		<%= link_to image_tag("pics/purpleboxtextbfegetstarted2.png", :alt => "building future engineers", :class =>'rounded'),   get_started_path %>
	</div>	<!--span4-->

	<div class="span5">
		<h2>Contact</h2>
  		<p>We would love to hear from you! Please contact us at:</p>
		</br>
		<p><a href="mailto:info@2025labs.com" style="color:#0099CC">info@2025labs.com</a></p>
		<p>455 Los Gatos Blvd, Suite 104</p>
		<p>Los Gatos, CA 95032</p>
		<p>408 893 8992</p>
	</div> <!--span4-->

	<div class="span3">
		<div class="row-fluid">
			<br>
			<%= link_to image_tag("facts/ctq_cleanbr.png", :alt => "30% of Americans would rather clean the bathroom than do a math problem"),   research_path %>
			<hr>
		</div><!--row-->

		<div class="row-fluid" style="text-align:center">
				<%= render "layouts/mediumad" %>
		</div> <!--row-->	
	</div> <!--span3-->	
	
</div> <!--row-->
