<div class="row-fluid">

	<div class="span2">
		<%= render "contentnav" %>
	</div>


	<div class="span7">
	<div class="row-fluid">
		<div class="span12">
		<img src="/assets/pics/eptag.png" style="float:left">	<h2>&#011;  Engineering Process</h2>
		
<h5><span class="sectionheader">The &#34;Engineering Design Process&#34; is not the only Engineering process</span><p><p></h5>
The Engineering Design Process is the process for getting from specific goals and constraints to a completed device or product. It's the most touted of the Engineering processes, such that you might think it is the <i>only</i> Engineering process. Even folks who have never heard the term "Engineering Design Process" often have a perception that the essence of an Engineer's job is designing and building something from requirements. You can think of this particular process as <i>filling a need</i> rather than creating a need. However, there are many types of Engineering, and more than one type of Engineering activity, as you will see.  <p><p>But, if you have a need you are trying to fill, and you know the goals and constraints, the Engineering Design Process is the standard engineering process to use. But how do people identify needs or possibilities in the first place? And what's the right process to use if you are trying to fix or maintain an existing piece of technology? 
<p><p>
In this section we are going to take a more comprehensive approach to the various Engineering processes, starting with a richer description of the Engineering Design Process. Before employing the Engineering Design Process, significant technological exploration and experimentation is often required in order to understand the capabilities and possible applications of a particular technology. With that in mind, we will turn next to the topics of Research and Development (R&D) and Product Innovation, where the really big technological breakthroughs happen. After, you'll learn about Failure Analysis, the process used when something goes wrong with a piece of technology. Finally you'll learn about Reverse Engineering, a handy process for figuring out both how something works and what it does. <p><p>	

<h5><span class="sectionheader">The Engineering Design Process is the process by which a known set of goals and constraints are used to create a product, device, or structure</span></h5>

Think of this particular process as <i>filling a need</i> rather than creating a need; you know what need you are trying to fill, but you aren't sure how to get there. For example, the design process might start from a problem or goal statement with some constraints: <p><ul><li>We need a bridge to connect San Francisco to Oakland over the San Francisco Bay. (Goal)</li><li>It needs to be able to handle the weight of cars at maximum capacity (bumper to bumper traffic), at or above 2500 cars at a time (Constraint)</li><li>It needs to be able to handle the weight of people occupying the full span of the bridge for festivals (Constraint)</li><li>It needs to be able to withstand winds of up to 60 miles per hour (Constraint) </li><li>It needs to be able to withstand an earthquake of up to 7.5 magnitude on the Richter scale (Constraint)</li></ul><p><p>

In this example, you need to think about all the materials to be used in construction, such as girders, bolts, or concrete. You need to think about the design of the bridge in light of the conditions it may be used under, such as the area's propensity for hurricanes, tornadoes, or earthquakes. You may need to perform simulations of the design and proposed materials under these conditions. You may need to investigate properties of certain materials, or identify detailed specifications for them that suppliers will need to meet. <p>Even if the goals or requirements are well-understood and well-documented, and even if the constraints are fully identified, there still may be significant investigation and creativity involved in the design and implementation, and a significant amount of effort validating that it performs as expected under defined conditions.

<p><p>However, as we mentioned, the engineering design process is not the only engineering process. Often, before a particular technology is ready to be used to meet the goals of a design process, significant technological exploration and experimentation is required in order to understand capabilities and possible applications of a particular technology. In fact, the really big technological breakthroughs do not result from the engineering design process - except possibly at the very end of the work - they result from technological experimentation and product innovation. We describe those activities in the two sections below. These two activities typically come <i>before</i> an engineering design process is followed.
<p><p>
					
<!-- here 1 -->
<h5><p><span class="sectionheader">Research and Development ("R&D") is exploratory work to examine technical possibilities in order to identify or create future products </span></h5>
		R&D is the first of the two processes which deal with <i>creating a need</i> rather than filling a need. <a href="http://www.investopedia.com/terms/r/randd.asp" target="_blank:">Investipedia</a> defines R&D as "[i]nvestigative activities that a business chooses to conduct with the intention of making a discovery that can either lead to the development of new products or procedures, or to improvement of existing products or procedures. Research and development is one of the means by which business can experience future growth by developing new products or processes to improve and expand their operations." Some companies consider their engineering design process activities to be R&#38;D, rather than considering discovery (finding out what is possible) separately from commercialization (turning possibilities into products). As a result, some companies that find initial success and high growth eventually peter out: some failing outright, some being acquired, and some significantly downsizing (or in some cases, a combination of the three). Real growth requires generating new ideas, and exploring new areas, not just continually evolving existing products with iteratively-better features or functions. 
		<p><p>Consider some examples: Novell, Inc., which was a pioneer in client-server computing and at one point had majority market share in server operating systems. They were riding very high at one time, with over 50% market share in file servers. However, they struggled to keep innovating and did not make any significant investment in core R&D distinct from product development for specific commercial products. They lost significant market share, shrank in size, and merged with another company. They still exist, but as a vastly less powerful company. Consider Google as an alternative example. Even as it continues to dominate search, Google keeps adding to its list of accomplishments with such innovations as personalization of web advertising, self-driving vehicles, and eyeglasses with a miniature screen which can perform interesting computer functions. Lasting success for technology companies requires continual pursuit of technology R&D.
<!--					<p>NEED MORE INFO ON WHAT IS INVOLVED IN RND SPECIFICALLY, also finding a need vs exploring different tech for fulfilling a need -->
	<p>
	<h5><span class="sectionheader">Product Innovation (New Category Creation) is a type of innovation whereby something that did not exist before is created and commercialized </span></h5>
	<p>Consider the Henry Ford quote: "If I had asked people what they wanted, they would have said faster horses." No one &#34;needed&#34; a car before one was invented and subsequently made available for purchase. No one asked Henry Ford, &#34;Can you make me a four-wheeled vehicle, with an engine, capable of carrying people across great distances faster than a horse can go?&#34; 
	<p>	Product innovation, like R&D, is about <i>creating a need</i> versus filling a need. Something new is invented, which opens up whole new possibilities, and may drive even further category creation, which then creates a &#34;need&#34 for the product.  Who needed an iPhone before one existed? Now we not only have iPhones, we have competing smartphones, as well as related products such as chargers, an &#34App Store&#34 (and competing marketplaces), smartphone apps, decorative cases, and tablets. 
		<p><p>If you look further back in history, we went from early experiments in electricity back in the 1600s, and now we have an electric grid, refrigerators, microwaves, toasters, blenders, televisions, computers, routers, and many more things we use every day. To get to the point when an iPhone could even be imagined, we had to have electricity, batteries, computers, the internet, cell phones, and so on. It took many people, many companies, and many years of R&D and product innovation to go from ideas and exploration to viable and usable technologies and products. But innovations drive further innovations, which lead to further innovations (and our next point).

	<h5><span class="sectionheader">Revolutionary innovations come from innovation processes not design processes </span></h5>
		<p><p>One key point to understand about both new category creation and technology R&D is that it may take many people, many companies, and many years to go from ideas and exploration to viable and usable technologies and products. 
		<p><p>The other key point is that the revolutionary innovations we see come from R&D, new category creation, or both. So, when you hear politicians, community members, and educators talk about educating the future workforce to be technology-literate in order to support ongoing innovation in this country, and then they <i>only</i> talk about the engineering design process, you might want to recall that revolutionary innovations come from innovation processes, not the "requirements to goals" design processes.
		<p><p>We've mentioned a few things that happen prior to design, now let's talk about a few things that may happen after the design process is complete and has resulted in a product, service, device, or structure.			
	<p><p>
	Next we turn to the processes engineers use to understand, fix, or maintain existing products, services, devices, or structures. 

<!-- end here 1 -->
	
<!--	INSERT IMAGE HERE - pipeline with fuzzy front end - basic R&D, new categories at front (car, iPod, iPhone, plane), reverse engineering and failure analysis at the end -->				
<p><p>
<h5><span class="sectionheader">Failure Analysis is a process by which Engineers study why something failed and what can be learned from it</span></h5>
	The March 2011 Fukushima earthquake, magnitude 9.1, caused the catastrophic failure of the Fukushima nuclear power plant. Why? Japan is seismically active, and the reactor had been designed to withstand earthquakes. As a matter of fact, it had been designed to withstand earthquakes <b>up to 8.6 on the Richter scale</b>: a massive earthquake, larger than the Great San Francisco Earthquake of 1906. <p><p>Unfortunately, it turns out that a design constraint of &#34;must be able to withstand an earthquake of up to 8.6 on the Richter scale&#34; was not sufficient for this magnitude 9.1 earthquake. The earthquake and resulting tsunami caused a nuclear meltdown and release of radioactive materials, with both environmental and societal impact.
		<p>When engineered structures or devices fail, they often go through a Failure Analysis process to determine: <i>What caused the failure? What can we learn from it? How might the identified fault affect similar structures or devices? Are there actions we need to take for those similar structures, such as preventative repairs or replacements? What can we do to address the failure for this structure?</i>
			<p> Answers to the last question might include clean-up activities, as in a nuclear power plant failures, or repair activities, such as might be performed to get a partially-failed bridge back into service. 
				<p>Failure analysis was also conducted on the failed <a href="http://www.nasa.gov/mission_pages/apollo/missions/apollo13.html" target="_blank">Apollo 13 mission</a> to the moon, which was aborted due to an explosion on board. Engineering activities were required to adapt to the situation and get the spacecraft safely back to Earth. In addition, failure analysis was conducted after the mission, which determined that the explosion resulted from a voltage change with unanticipated impacts.
	</div> <!--span12-->	
</div> <!--row-->		
<div class="row-fluid">
	<div class="span9">
		<p> One additional example of failure analysis is the collapse of the I-35W Mississippi River Bridge in Minneapolis in 2007 (see video at right of the bridge collapse). At the time, portions of the bridge were under construction, with some lanes closed and heavy vehicles on the bridge. It was rush hour and the car traffic on the bridge was quite congested in the remaining lanes. After significant review by the National Transportation Safety Board (NTSB), it was determined that there was a problem in the original design of the bridge, specifically under-sized supporting elements called gusset plates. Over the years, layers of concrete had added weight to the bridge, and the bridge design was insufficient to safely hold the then-current heavy load of construction vehicles and rush hour traffic. Understanding what went wrong through the process of failure analysis, helps engineers understand how to fix what's broken and prevent repeat failures.
	</div> <!--span9-->	
	<div class="span3">
		<br>
		<img src="/assets/pics/35wBridgecollapse-video.gif" alt="35-W bridge collapse 2007">
		<span class="caption">Minneapolis interstate 35-W bridge collapse</span>
	</div> <!--span3-->
</div> <!--row-->
<div class="row-fluid">
	<div class="span12">
		<p><p>
			<h5><a id="reveng"><span class="sectionheader">Reverse Engineering is a process by which Engineers take apart an already-built device to understand the details of what it does and how it works</span></a></h5>				
			 There are a few different motivations for reverse engineering a device. For example, there is tremendous educational value to examining something in detail, if you wish to understand how it works. 
			<p><p>Imagine if you were to take apart your television&#151;you could see what the key components are, you could look up any electronic components to identify their function (you can look up just about anything online these days), and you could get a much better understanding of how the thing you use every day actually works. Engineering students often take apart devices for these very reasons. If you have older, broken devices hanging around your house (anything from mixers to remote controls to toasters), you might think about (safe!) ways to do a little of your own reverse engineering. 
	<p><p>As another example, imagine that a well-known company is working on the next generation of its smartphone, and <i>everyone</i> wants to find out about what it will look like, what it can do, and what great new capabilities it will have. Next imagine that an engineer in the company has a prototype phone and has brought it along on a night out on the town...and somehow left it behind in the bar. You can bet that the phone will find its way into the hands of someone who will do their best to reverse engineer everything they can. As a matter of fact, you might recognize this example as an actual news item!
				<p>There are other motivations for reverse engineering, including trying to figure out how legacy devices work in order to modify them, fix them, or add something new to them. For example, an organization may have an important, but outdated piece of equipment that is no longer supported by the company that manufactured it (and potentially  the source company no longer even exists). The engineers will have to reverse engineer the equipment first to understand how it is put together before they can make any fixes or modifications.
			
			<h5><span class="sectionheader">Summary </span></h5>
			The Engineering Design Process is the most discussed of the Engineering processes, however the big technological advances come from the processes of R&D and Product Innovation. The Engineering Design Processes is critical for actually creating technology (a product, service, device or structure) when a specific need has been identified. Some Engineering processes happen <i>after</i> the piece of technology has already been created, and help engineers understand how it works, or why it failed. Each process has a particular role to play in the innovating, creating and maintaining of useful technology. In the next section we turn to <a href="machines.html">machines</a>, technology we use everyday that is a product of the Engineering processes.
				
	</div> <!--span12-->	
</div> <!--row-->
</div> <!--span7-->	

	<div class="span3">	
		<div class="row-fluid">
			<div class="span12">
				<br><br>
				An <a href="http://www.oregonlive.com/hillsboro/index.ssf/2011/12/intel_survey_of_teenagers_show.html" target="_blank">Intel survey from 2011</a> showed that:
				<a href="research.html"> <img class="rounded" src="/assets/facts/intelsurvey.png"  alt="demo stats"> </a>
				<hr>
			</div> <!--span12-->	
		</div> <!--row-->	
			
			<div class="row-fluid">
				<div class="span12">				
				</div> <!--span12-->
			</div> <!--row-->


			<div class="row-fluid">
				<div class="span12" style="text-align:center">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-2408047913757155";
					/* right_column */
					google_ad_slot = "7631510629";
					google_ad_width = 160;
					google_ad_height = 600;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>				
				</div> <!--span12-->
			</div> <!--row-->	
		
	</div> <!--span3-->		
</div>	<!--row-->
</div>