<% provide(:title, 'Into to Engineering') %>
<div class="row-fluid">
<div class="span2">
<a href="engineering_process.html"><img class="catbutton" src="/assets/navgraphics/engineering_process.png" alt="Engineering Process"></a> <p></p>
<a href="machines.html"><img class="catbutton" src="/assets/navgraphics/machines.png" alt="Machines"></a><p></p>
<a href="energy.html"><img class="catbutton" src="/assets/navgraphics/energy.png" alt="Energy"></a><p></p>
<a href="computing.html"><img class="catbutton" src="/assets/navgraphics/computing.png" alt="Computing"></a><p></p>
</div>


<div class="span7">
<h2>Intro to Engineering</h2>
We want to get more kids interested in Engineering. (See our <a href="research.html">Research</a> page for motivation on that front.) We think that requires a combination of introducing kids to Engineering and building their technological literacy. We have discovered that figuring out how to build our kids' technological literacy often meant building our own.
<p></p>

<a href="http://www.merriam-webster.com/dictionary/engineering" target="_blank">Merriam-Webster</a> defines engineering as the <i>"application of science and mathematics by which the properties of matter and the sources of energy in nature are made useful to people"</i>. A shorthand way of thinking of engineering is that it is application of math and science to make or maintain useful technology.
<p></p>

Engineering was not part (and largely is still not) part of the K-12 Curriculum, so if you didn't specialize in Engineering or any other field of study or work related to a particular technology, you might not know how any of this stuff works. The purpose of this area of the web site is to get the adults in the picture comfortable with and conversant in the topics. We know that some find Engineering daunting; we would like to demystify it a bit with a lightweight, big-picture overview of Engineering using a four-part framework. If you do have an Engineering or technical background, you've got a head start, but we think you'll still benefit from this introduction. We're also using this framework to flag the <a href="resources.html">Resources</a> listed on this website, so that you can refer back to this content to know how each resource relates to the world of Engineering.
<p></p>


What you will learn in this introductory area of the website:
<p></p>
<div class="row-fluid">
<div class="span1">
<a href="engineering_process.html"><img src="/assets/pics/eptag.png" style="float:left"></a>
</div> <!-- span 3 -->
<div class="span11">
<b><a href="engineering_process.html">Engineering Process</b></a> Our framework starts with an explanation of the processes engineers use to turn an idea into technology, or to accomplish other goals found under the umbrella of Engineering.
</div> <!-- span 9 -->
</div> <!-- row -->
</br>

<div class="row-fluid">
<div class="span1">
<a href="machines.html"><img src="/assets/pics/mtag.png" style="float:left"></a>
</div> <!-- span 3 -->
<div class="span11">
<b><a href="machines.html">Machines</b></a> You will learn that machines are one type of technology created by engineers, and you will get an introduction into how machines make work easier.
</div> <!-- span 9 -->
</div> <!-- row -->
</br>

<div class="row-fluid">
<div class="span1">
<a href="energy.html"><img src="/assets/pics/entag.png" style="float:left"></a>
</div> <!-- span 3 -->
<div class="span11">
<b><a href="energy.html">Energy</b></a> Technology doesn't exist or work without energy, so you will learn how we collect and consume the energy that powers the devices in our daily lives.
</div> <!-- span 9 -->
</div> <!-- row -->
</br>


<div class="row-fluid">
<div class="span1">
<a href="computing.html"><img src="/assets/pics/ctag.png" style="float:left"></a>
</div> <!-- span 3 -->
<div class="span11">
<b><a href="computing.html">Computing</b></a> Since we live in the information age, any study of engineering is incomplete without an overview of computing. In this section you will learn what "computing" means, as well as some very basic knowledge of computer architecture, communications (networking), and the ever-increasing degree to which our lives are supported by computerized automation.
</div> <!-- span 9 -->
</div> <!-- row -->
</br>
</br>

     </div> <!--span8-->	

<div class="span3">	
<br><br><a href="research.html"> <img src="/assets/facts/sciedu.png" alt="18 percent"> </a>	
<hr>
</div> <!--span3-->	
</div>	<!--row-->
</div>


