<div class="row-fluid">

	<div class="span2">
		<%= render "contentnav" %>
	</div>

	<div class="span7">
		<div class="row-fluid">
			<div class="span12">
	<img src="/assets/pics/mtag.png" style="float:left" alt="machines tag">	<h2>&#011; Machines</h2>
<h5><span class="sectionheader">Machines are a great introduction to technology</span></h5>

Engineers use the different engineering processes to create and maintain technology. Merriam-Webster defines <a href="http://www.merriam-webster.com/dictionary/technology" target="_blank">technology</a> as "the use of science in industry, engineering, etc., to invent useful things or to solve problems." Technology comes in different forms, such as machines, devices, structures, processes, programs or systems. The focus of this section is on machines. 
			</div>
		</div>
<p><p>
<div class="row-fluid">
		<div class="span7">
There are many resources available to learn about machines, and understanding machines will take you a long way toward understanding much of the technology you come into contact with daily. 
	<p><p>
Machines make work easier. They can be as simple as a bottle opener and as complex as a space shuttle. If you kept a checklist of machines you used throughout the day, you might be surprised by how long it was. Machines include simple devices like doorknobs, scissors, hammers, shovels, and even baseball bats. Machines also include vehicles (cars, trains, planes, bicycles), appliances (refrigerators, washing machines, blenders, microwaves), electronics (televisions, computers, tablets, mobile phones), and lots of other items in our homes and offices. 
		</div>
		<div class="span5">
			<img src="/assets/pics/callout_machines.png" alt="machines are one of four types of items that can be patented">
		</div>
	</div>	
	<p>
		<h5><span class="sectionheader">Simple machines are the earliest form of technology and allow us to understand how machines make work easier through their mechanical advantage</span></h5>
		A broad definition of a machine is something that consists of one or more parts and uses energy to achieve a particular goal. The simplest machines, conveniently called Simple Machines, consist of only one or two parts. There are six historically recognized Simple Machines: the lever, pulley, wheel and axel, screw, wedge and inclined plane. They are often placed in two groups, the lever group and the inclined plane group, because of the similarities in the way they function. These machines work by changing the direction of a force being exerted, changing the amount of force required to be exerted, or changing both the direction and the required amount of force. A quick study of Simple Machines is a nice way to demonstrate a concept that we all take for granted: machines let us do the same work with less effort. The scientific expression for this is mechanical advantage, which <a href="http://www.merriam-webster.com/dictionary/mechanical+advantage?show=0&t=1379008684">Merriam-Webster</a> defines as "the ratio of the force that performs the useful work of a machine to the force that is applied to the machine." 
<p><p>
People have been using simple machines for thousands of years; think of a pulley being used to raise water from a well or wheels and axels to move wagons, maybe even a caveman using a stick as a lever to move a large rock. You will find literally hundreds of websites that describe the different simple machines, including <a href="http://www.cosi.org/downloads/activities/simplemachines/sm1.html">this one</a> from the Center of Science and Industry in Columbus, Ohio. There are also many excellent books and kits that will let your kids (and you!) learn how to build and recognize simple machines. Simple machines are generally taught as part of the K-12 science curriculum because they help to demonstrate the scientific principles of force, work, energy, power and mechanical advantage.
<p><p>
Many machines contain multiple simple machines. For example a pair of scissors is a combination of a lever and a wedge, and the two blades are held together with a screw. Any machine that has wheels&#8212;like a bicycle, car or wheel barrel&#8212;has wheels and axels. Anything that cuts&#8212;like a lawn mower or a blender&#8212;has a wedge, and so on. However, complex machines are not just combinations of simple machines. For example you would probably like a seat on your bicycle, but a seat is not a simple machine. It's a part provided for your comfort, like the cup holder in your car. Seats and cup holders might make work more comfortable, but they offer no mechanical advantage and are therefore not machines.
<p>
		<h5><span class="sectionheader">The invention of motors and engines expanded the energy sources for machines</span></h5>

In addition to parts for comfort, structure and safety, many machines have engines and motors, which allow us to expand the range of energy sources to power our machines. Prior to James Watt's steam engine, patented in 1781, there were only four energy sources to power machines: people, animals, wind, and water. Although we still use these sources when practical, there are some obvious limitations: wind is unreliable, there aren't rivers everywhere you might want to do work, and people and animals can only produce so much energy. 
<p><p>
Engines and motors convert one form of energy (like electrical energy, steam, or fossil fuels) into mechanical energy. For example, gasoline-powered cars have engines that convert the potential energy in gasoline into mechanical energy by burning the gas to turn the axles, which spins the wheels. Blenders have motors, which convert electrical energy into mechanical energy when spinning the blades. Because machines and other technology require <a href="energy.html">energy</a> to work, we have flagged energy as one of four key areas of understanding in this introduction to engineering. We'll get to  energy next, but first we need to address electronic machines.
<p>
<h5><span class="sectionheader">Electronic machines introduce logic into the operation of machines </span></h5>
We talked about an <i>electric</i> machine in the blender example above. An electric machine is simply a machine that uses electricity as a power source. Your typical household appliances are electric machines (which is why you find them in the "Small Electrics" areas of some stores). Even many battery-powered devices (think of a Nintendo DS game console as an example) are considered electric, since the chemical energy from the battery is converted to be used as electricity within the device. <p><p>
So then, what's an <i>electronic</i> machine? It's a machine that uses electric power internally, in which there is also some <span class="colortxtlittle">logic</span> implemented in the device. Think of a DVR that you have programmed to record every episode of "Big Bang Theory." Somewhere in that device is some logic that specifies that "if it is time for a to-be-recorded show to start, start recording," as well as "if the end time for the being-recorded show has now been reached, stop recording it." Electronic devices have computer chip inside that control the operations of the device; these types of devices are described in a little more detail in the <a href="computing.html">Computing</a> section. <p><p>Examples of electronic devices include computers, smartphones, printers, computer monitors, routers, programmatic sprinkler systems ("turn on the sprinklers every day at 7am"), programmatic household temperature management systems ("turn on the AC when the temperature rises above 75 degrees"), etc. Note that a solar-powered computer would also be electronic, since it is electric inside and contains logic and the usual array of semiconductor chips. It would also be pretty awesome to have one (at least on sunny days)! 
 <p>
<h5><span class="sectionheader">Summary </span></h5>
In summary, machines are a key type of technology that engineers create and maintain using engineering processes. Simple machines are the earliest form of technology and allow us to understand how machines make work easier through their mechanical advantage. The invention of motors and engines expanded the energy sources for machines, beyond wind, water, people and animals. Electronic machines introduce logic into the operation of machines; a topic you'll learn more about in the <a href="computing.html">computing</a> section. Now that you know a little bit more about machines it's time to look at <a href="energy.html">energy</a> to understand how the machines and other technology are powered.



</div>
						
	<div class="span3">	
		<br>Research by the American Association of University Women shows that		
		<a href="research.html"> <img src="/assets/facts/socioeconomic.png"  alt="demo stats"> </a>
		outweigh both gender and race as factors driving Engineering demographics. When we look at how we can make Engineering more diverse, we may make a large impact by encouraging and influence young people from disadvantaged backgrounds toward Engineering
		<hr>
		
			<div class="row-fluid">
				<div class="span12">				
				</div> <!--span12-->
			</div> <!--row-->


			<div class="row-fluid">
				<div class="span12" style="text-align:center">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-2408047913757155";
					/* right_column */
					google_ad_slot = "7631510629";
					google_ad_width = 160;
					google_ad_height = 600;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>				
				</div> <!--span12-->
			</div> <!--row-->	
		
		
		
		
	</div> <!--span3-->		
</div>	<!--row-->
</div>