<% provide(:title, 'Resources') %>

<div class="row-fluid">

	<div class="span2">
		<a href="web_resources.html"><img class="catbutton" src="/assets/navgraphics/web_resources.png" alt="Web Resources"></a> <p></p>
		<a href="toys_and_games.html"><img class="catbutton" src="/assets/navgraphics/toys_and_games.png" alt="Toys and Games"></a><p></p>
		<a href="camps_and_events.html"><img class="catbutton" src="/assets/navgraphics/camps_and_events.png" alt="Camps and Events"></a><p></p>
		
	
	</div>


	<div class="span7">
		<h2>Resources</h2>
		
		<% @resource_types.each do |resource_type| %>
			<%=resource_type.r_type %> <%=resource_type.description %>
		
		<div class="row-fluid">
			<div class="span12">				
			</div> <!--span12-->
		</div> <!--row-->

		<% end %>

		</br>
		<i>Still to come... Information about scholarships and awards!</i>
		
		

	</div> <!--span8-->	

	<div class="span3">	
		<div class="row-fluid">
			<div class="span12">
				<br><br>
				<a href="research.html"> <img class="rounded" src="/assets/facts/engrspec_gender.png"  alt="demo stats"> </a>
				<hr>
			</div> <!--span12-->	
		</div> <!--row-->
		
			<div class="row-fluid">
				<div class="span12">				
				</div> <!--span12-->
			</div> <!--row-->


			<div class="row-fluid">
				<div class="span12" style="text-align:center">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-2408047913757155";
					/* right_rectangle */
					google_ad_slot = "9108243823";
					google_ad_width = 300;
					google_ad_height = 250;
					//-->
					</script>
					<script type="text/javascript"
					src="//pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>	
				</div> <!--span12-->
			</div> <!--row-->
			
	</div> <!--span3-->		
</div>	<!--row-->
</div>