<% provide(:title, 'Web Resouces') %>

<div class="row-fluid">
	
		<div class="span2">
			<div class="row-fluid">
				<div class="span12">
					<a href="web_resources.html"><img  class="catbutton" src= <%=asset_path "/navgraphics/web_resources.png" %> alt="Web Resources"></a>
					<a href="toys_and_games.html"><img class="catbutton" src=<%=asset_path "/navgraphics/toys_and_games.png" %> alt="Toys and Games"></a>
					<a href="camps_and_events.html"><img class="catbutton" src=<%=asset_path "/navgraphics/camps_and_events.png" %> alt="Camps and Events"></a>
					<a href="awards_scholarships.html"><img class="catbutton" src=<%asset_path "/navgraphics/scholarships.png" %> alt="Camps and Events"></a>
			</div>
			</div>
		
		</div>
	
	
    	<div class="span7">
			<h2>Web Resources</h2>
			
			This page includes links to useful web sites, some educational (and entertaining!) videos, and games and activities. The resources listed are coded according to the engineering area(s) that the resource pertains to, such as the Engineering Process, Machines, Energy, or Computing.<br><br>
