@import "bootstrap";
/*@import "bootstrap-sprockets";*/


/* defining the colors*/
$logo_color: #FF1F00;
$possible_color: #21B6A5;
$slide_title: #FF1F00;
$slide_text: #a1a1a1;
$engineering_process_color: #1A9CD6;
$materials_color: #A05CAC;
$structures_color: #139F9D;
$machines_color: #A3D147;
$energy_color: #F59A00;
$computing_color: #F74D9C;
$video_area: #f6f6f6;
$correct_color: #008000;


.logo_mainbkgd{
	background-color: $logo_color;
	padding-left:30px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:10px;
}
.banner-top-2025{
	color:#fff;
	font-size: 16px;
	line-height: 20px;
	text-decoration:none;
	padding-left: 20px;
	margin-bottom:80px;
}
/* static or fixed navbar-static-top vs navbar-fixed-top was extend navbar-default*/
.navbar-2025{
	@extend .navbar-default;	
	background-color: genesis white;
	border-color: $logo_color;
	padding-left: 20px;
	margin-bottom: 0;
}

.resources-title {
	margin:0;
	padding:0;
}


.navbar-header-2025{
	@extend .navbar-header;	
	background-color: $logo_color;

}

.navbar-2025-bs2{
	@extend .navbar-static-top;	
#	background-color: $logo_color;
	border-color: $logo_color;
}
/* Styling for dashboard */
.dashboardbkgd{
	background-color: #f1f1f1;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
	padding-top:20px;
	z-index:-2;
}

/* Styling for dashboard footnotes */
.dashboardfootnote{
  	font-size: 10px;
  	line-height: 12px;
	color: #000000;
	text-align: right;
}

/* Styling for the survey banner*/
.banner {
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  /*background-color: #21B6A5;*/
  background-color: #cccc33;
  text-align: center;
}

/* Styling for the header */
.socialmedia{
	float:right;
	padding-top:10px;
	padding-left:10px;
}


.cologo{
	padding-top:10px;
}

.iconleft{
	float: left;
}

/* This is just for the about_us page*/
.names{
	text-align: left;
	color: $engineering_process_color;
	font-size: 14px;
	font-weight: bold;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styling to round the corners on the images */
.rounded {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.picpadding {
	padding-bottom:20px;
}

.catbutton {
	padding-bottom: 20px;
}

.navbutton {
	padding-right: 20px;
	float: right;
}

.resourcebutton {
	padding-bottom: 4px;
}


/* Styling to add some different text options that are used throughout */
.sectionheader {
	color: #ff6600;
	font-size: 19px;
}

.summarystatement {
	color: #000000;
	font-weight: bold;
	font-style: italic;
  	line-height: 20px;
	font-size: 15px;
	margin: 10px 0;
}

.caption {
	color: #000000;
	font-size: 9px;
	line-height: 10px;
	font-style: italic;
}

.colortxt {
	color: #21B6A5;
	font-size: 19px;
}

.colortxt2 {
	color: #21B6A5;
	font-size: 22px;
	font-variant:small-caps; 
	padding-right:10px;
}

.colortxtlittle {
	color: #21B6A5;
	font-size: 14px;
	font-style: italic;
}

.blogtxt {
	color: $logo_color;;

}
.missiontxt {
	color: $logo_color;
	font-size: 16px;
	font-weight: bold;
}
.headings {
	font-weight: bold;
	font-size:26px;
}

.facts {
	font-weight: bold;
	font-size:75px;
	line-height:76px;
	color: #fff;
	background-color: #cccc33;
	text-align: center;
}
.facts2 {
	font-weight: bold;
	font-size:20px;
	line-height:26px;
	color: #fff;
	background-color: #cccc33;
	text-align: center;
}

.factspink {
	font-weight: bold;
	font-size:75px;
	line-height:76px;
	color: #fff;
	background-color: #aa3366;
	text-align: center;
}

.factspink2 {
	font-weight: bold;
	font-size:20px;
	line-height:26px;
	color: #fff;
	background-color: #aa3366;
	text-align: center;
}




/* Styling for the main ideas */
.mainideas{
	font-weight: bold;
	font-size: 12px;
	color: #ff6600;
	background-color: #e9e9e9;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:50px;
	padding-top:10px;
}

.mainideastopic{
	color: #ff6600;
}

.mainideasheader{
	font-size: 14px;
	text-decoration:underline;
}


/*Styling  the links */
a:link {
	text-decoration:none;
	color: #0099cc;
}

a:visited {
	text-decoration:none;
	color: #0099cc;
}
	
a:hover {
	text-decoration:underline;
	color: #21B6A5;
}

a:active {
	text-decoration:none;
}

a.mainideastopic:link {
	color: #ff6600;
}


a.mainideastopic:visited {
	color: #ff6600;
}

a.mainideastopic:hover {
	color: #ff6600;
}

a.mainideastopic:active {
	color: #ff6600;
}

/* here are the fact links */

a.facts1:active {
	color: #fff;
	text-decoration:none;

}

a.facts1:link {
	color: #fff;
	text-decoration:none;

}

a.facts1:visited {
	color: #fff;
	text-decoration:none;

}

a.facts1:hover {
	color: #0099cc;
	text-decoration:none;

}

/*Styling  the footer main links */
a.footheader:link {
	text-decoration:none;
	font-size: 17px;
	font-family: Impact, Charcoal, sans-serif;
	color: $logo_color;
}

a.footheader:visited {
	text-decoration:none;
	font-size: 17px;
	font-family: Impact, Charcoal, sans-serif;
	color: $logo_color;
}
	
a.footheader:hover {
	text-decoration:underline;
	font-size: 17px;
	font-family: Impact, Charcoal, sans-serif;
	color: $logo_color;
}

a.footheader:active {
	text-decoration:none;
	font-size: 17px;
	font-family: Impact, Charcoal, sans-serif;
}

/*Styling  the footer sublinks */
a.footsub:link {
	text-decoration:none;
	color: $logo_color;
}

a.footsub:visited {
	text-decoration:none;
	color: $logo_color;
}
	
a.footsub:hover {
	text-decoration:underline;
	color: $logo_color;
}

a.footsub:active {
	text-decoration:none;
}

/* Dropdown menu CSS */
nav ul {
	background: #fff; 
	border-radius: 0px;  
	list-style: none;
	position: relative;
	z-index: 1001;
	display: inline-table;
	
}

nav ul:after {
		content: ""; clear: both; display: block;
}
	
nav ul li:active{
		background:#fff;
}
	
nav ul li:hover > ul {
	display: block;
	background: #fff;
}

nav ul ul {
	display: none;
	background: #fff; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

nav ul ul li {
	float: none; 
	/*border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;*/
	border:1px solid #ccc;
	position: relative;
}

nav ul ul li a:hover {
	background: #fff;
}

/* Tablet and bigger */
@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
      	
    }

    .grid-divider>[class*='col-'] {
        position: static;

    }
    .grid-divider>[class*='col-']:nth-child(n+3):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;


    }
    .col-padding1 {
        padding: 0 0px;

    }
    .col-padding2 {
        padding: 0 15px;
       
    }
}

/* Tablet and bigger */
@media ( min-width: 768px ) {
    .grid-divider-research {
        position: relative;
        padding: 0;
      	
    }

    .grid-divider-research>[class*='col-'] {
        position: static;
        
    }
    .grid-divider-research>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
        
    }
    .col-padding1 {
        padding: 0 0px;

    }
    .col-padding2 {
        padding: 0 15px;
       
    } 
}

.footer {
	/*height: 50px;*/
	background-color: $video_area;
	text-align: left;
	padding-left:20px;
	padding-top:20px;
	padding-bottom:30px;
	padding-right:30px;
	margin-top:40px;
}


/*dealing with fixed navigation*/
.topfix{
    padding-top:10px; 
	padding-left:20px; 
	padding-right:20px; 
	padding-bottom:40px;
	background-color:white;
}

.maincontent{
    margin-top:75px; 

}

.featurette {
padding-top: 0px;
overflow: hidden; /* Clear floats */
}

featurette-image {
margin-top: −120px; /* Vertically center image with the text */
}

.featurette-image.pull-left {
margin-right: 40px;
}

.featurette-image.pull-right {
margin-left: 40px;
}

.thumbnail {
	border: 0px;
	box-show: none;
	margin: 0px;
}

h2
 {
     padding: 0;
     margin: 0;
     padding-top: -20px;

 }

 .slidearea {
  background-color: $video_area;
  padding-top: 10px;
  padding-bottom: 200px;
  padding-left: 30px;
  padding-right: 30px;
 }
 .slidearea-footer {
  background-color: $video_area;
  padding-top: -20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 100px;
 }

/* This section allows for the video size to be responsive */
/* Copyright (c) 2011 ZURB, http://www.zurb.com/ */	
.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 16px;
	overflow: hidden;

}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
	  .flex-video { padding-top: 0; 
	  
  		}
	}

/* This section allows you to change the spacing on the header nav graphics so you aren't stuck with 20 px */
.row .span2NoGutter { width:16%; margin-left:.66667%} // 100% / 6 col
.row .span3NoGutter { width:24.5%; margin-left:.59%} // 100% / 4 col
.row .span6NoGutter { width:49.9%; margin-left:-.4%} // 100% / 2 col

#menu {
    list-style:none;
    padding-left:0;
	margin-left: 0;
	z-index:10;
}

.container-banner {
	padding-left: 38px;
	padding-right: 38px;
}

.container-header {
	padding-left: 25px;
	padding-right: 25px;
}

 
