<div id="footer">
	<div class="container-fluid">

			<div class="row-fluid">
				
				<div class="span2" style="text-align:left">
				    <a class="footheader" href="home.html" class="footerheadertxt">Company</a><br>
						<a class="footsub" href="about_us.html">About Us</a><br>
						<a class="footsub" href="contact.html">Contact</a>
				</div>	<!--span2-->
				
				<div class="span3" style="text-align:left">
					<a class="footheader" href="gettingstarted.html" class="footerheadertxt">Get Started</a>
				</div><!--span2-->
				
				<div class="span3" style="text-align:left">
					<a class="footheader" href="intro_to_engineering.html" class="footerheadertxt">Intro to Engineering</a><br>
							<a class="footsub" href="engineering_process.html">Engineering Process</a><br>
							<a class="footsub" href="machines.html">Machines</a><br>
							<a class="footsub" href="energy.html">Energy</a><br>
							<a class="footsub" href="computing.html">Computing</a>
				</div><!--span3-->
				
				<div class="span2" style="text-align:left">
					<a class="footheader" href="resources.html" class="footerheadertxt">Resources</a><br>
							<a class="footsub" href="web_resources.html">Web Resources</a><br>
							<a class="footsub" href="toys_and_games.html">Toys and Games</a><br>
							<a class="footsub" href="camps_and_events.html">Camps and Events</a>
				</div><!--span3-->
				
				<div class="footheader" class="span2" style="text-align:center">
				    <a class="footheader" href="research.html" class="footerheadertxt">Research</a>
				</div><!--span2-->
				

			</div><!--row-->
			
			<div class="row-fluid">
				<div class="span12">
					 <span class="muted">&copy; 2013 - 2025 Labs LLC</span>				
				</div> <!--span12-->
			</div> <!--row-->
       
</div> <!--container-->	
</div> <!--footer-->