<div class="banner">
	<a href="https://www.surveymonkey.com/s/CMZXNX8" style="color:white" target="_blank"><i>Take the Survey:</i> Profiles of Women in Engineering and Computer Science</a>
</div>

<div class="container-fluid" style="padding-top:10px">		
	<a href="home.html"><img src="/assets/PlumLogo.png" alt="2025 Labs logo"></a>

	<a href="https://twitter.com/2025Labs" target="_blank"><img class="socialmedia" src="/assets/twitterbird.png" alt-"twitter logo"></a>

	<div class="navbar navbar-static-top"> 
		<nav>    
				<ul class="nav pull-right">
			      	<li class="active" ><a href="home.html">Company</a>
						<ul>
							<li><a href="about_us.html">About Us</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</li>
					<li><a href="gettingstarted.html">Get Started</a></li>
					<li><a href="intro_to_engineering.html">Intro to Engineering</a>
						<ul>
							<li><a href="engineering_process.html">Engineering Process</a></li>
							<li><a href="machines.html">Machines</a></li>
							<li><a href="energy.html">Energy</a></li>
							<li><a href="computing.html">Computing</a></li>
						</ul>
					</li>
				    <li><a href="resources.html">Resources</a>
						<ul>
							<li><a href="web_resources.html">Web Resources</a></li>
							<li><a href="toys_and_games.html">Toys and Games</a></li>
							<li><a href="camps_and_events.html">Camps and Events</a></li>
						</ul>
					</li>
					<li><a href="research.html">Research</a></li>
			    </ul>
		</nav>
	</div> <!--navbar-->
</div> <!--container-->